@import '../../scss/utils/variables';

.MuiFormControl-marginNormal {
    margin-top: 4px !important;
}

.loginlabel {
    padding-left: 30px;
    color: #767373;
}

.loginform {
    margin-top: 40px;
}

.logincheckbox {
    padding-left: 30px;
    color: #767373;
}

.loginforgetpass {
    padding-right: 30px;
    display: block;
    margin-top: 9px !important;
    color: #48a8ff !important;
}
.loginforgetpass:hover {
    cursor: pointer;
}



.submitbtn {
    background: linear-gradient(90deg,#48a8ff 0, #48a8ff 51%,#807bff );
    border-radius: 50px !important;
    width: 200px;
    margin: 20px auto !important;
    display: block !important;
    height: 45px;
}

.social-content {
    display: block;
    text-decoration: none;
}
.social-content:hover {
    cursor: pointer;
}
.social-content img{
    margin-right: 15px;
    float: left;
}

.social-content p {
    display: flex;
    padding: 5px 0 0 0;
}
.login-box {
    opacity: 1;
    transition: ease .5s;
}
.login-box.hidden {
    opacity: 0;
}
.login-success-content {
    position: absolute;
    top: 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    transform: scale(0,0);
    transition: ease .5s;
}
.login-success-content.open {
    opacity: 1;
    transform: scale(1,1);
}

.login-success-content img{
    float: left;
    max-width: 80px;
}
.login-success-content p {
    display: flex;
    padding: 5px 0px 0px 15px;
}

.stretch {
    background: url(https://res.cloudinary.com/djpepozcx/image/upload/v1650559796/main-bg_wc6dwo.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
    height: 100vh;
    overflow: hidden;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    text-align: center;
    position: relative;
}

@keyframes fadein {
    from { opacity:0;}
    to { opacity:1;}
}

@-moz-keyframes fadein {
    from { opacity:0; }
    to { opacity:1;}
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to { opacity:1;}
}

@-o-keyframes fadein {
    from { opacity:0; }
    to { opacity: 1;}
}

.home-text {
    /* padding-top: 3%; */
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    margin: 0px auto;
    max-width: 600px;
}
.home-text h1 {
    font-weight: 800;
}
.home-text h2 span{
    font-size: 28px;
}

.waves-block {
    margin-top: 50px;
}
.waves {
    max-width: 350px;
}

.outer {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    margin: 0px auto;
    left: 0;
    right: 0;
}
.outer:hover {
    cursor: pointer;
}

#gradient #a {
    stop-color:#C33DF6;
}
#gradient #b {
    stop-color:#C33DF6
}
#gradient #c {
    stop-color:#702DEF
}
#ellipse {
    fill:none;stroke:url(#gradient);
    stroke-width:20;
}


// .dashboardcircle {
//     height: 600px;
//     width: 600px;
//     border-radius: 50%;
//     position: absolute;
//     left: -200px;
//     z-index: -1;
//     background-color: #fff;
//     top: -50px;
// }

.logoresponsive {
    max-width: 100%;
    width: 100%;
    max-height: 46px;
}

.dashboardheader {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    box-shadow: lightgray 0px 1px 5px;
    z-index: 10;
}
// .moleculeimg {
//     position: absolute;
//     left: -210px;
// }
.dropmolecule-blob-center {
    position: absolute;
    text-align: center;
}

.dropmolecule-icon {
    width: 21px;
    height: 33px;
    margin: 0 52px 8px;
    padding: 0 10px 20px 0;
    border-radius: 10px;
    border: solid 1px #4366BB;
    position: relative;
}

.dropmolecule-icon .rectangle {
    width: 10.5px;
    height: 13px;
    border-radius: 10px 0 3px 1px;
    left: -1px;
    top: -1px;
    background-color: #5498ef;
    position: absolute;
}
