#eX69kagcBSE28_tr {
    animation: eX69kagcBSE28_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE28_tr__tr {
    0% {
        transform: translate(431.498814px, 428.998814px) rotate(0deg)
    }

    100% {
        transform: translate(431.498814px, 428.998814px) rotate(360deg)
    }
}

#eX69kagcBSE28 {
    animation: eX69kagcBSE28_c_o 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE28_c_o {
    0% {
        opacity: 0.141439
    }

    9.166667% {
        opacity: 0.08
    }

    19.166667% {
        opacity: 0.12
    }

    35% {
        opacity: 0.06
    }

    55% {
        opacity: 0.12
    }

    77.5% {
        opacity: 0.06
    }

    100% {
        opacity: 0.141439
    }
}

#eX69kagcBSE29_tr {
    animation: eX69kagcBSE29_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE29_tr__tr {
    0% {
        transform: translate(438.991829px, 438.99px) rotate(0deg)
    }

    100% {
        transform: translate(438.991829px, 438.99px) rotate(-720deg)
    }
}

#eX69kagcBSE30_tr {
    animation: eX69kagcBSE30_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE30_tr__tr {
    0% {
        transform: translate(438.998432px, 438.9915px) rotate(0deg)
    }

    100% {
        transform: translate(438.998432px, 438.9915px) rotate(-360deg)
    }
}

#eX69kagcBSE31_tr {
    animation: eX69kagcBSE31_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE31_tr__tr {
    0% {
        transform: translate(438.89912px, 438.47937px) rotate(0deg)
    }

    100% {
        transform: translate(438.89912px, 438.47937px) rotate(360deg)
    }
}

#eX69kagcBSE32_tr {
    animation: eX69kagcBSE32_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE32_tr__tr {
    0% {
        transform: translate(438.936018px, 438.659943px) rotate(0deg)
    }

    100% {
        transform: translate(438.936018px, 438.659943px) rotate(720deg)
    }
}

#eX69kagcBSE33_tr {
    animation: eX69kagcBSE33_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE33_tr__tr {
    0% {
        transform: translate(438.98654px, 438.977639px) rotate(0deg)
    }

    100% {
        transform: translate(438.98654px, 438.977639px) rotate(-720deg)
    }
}

#eX69kagcBSE33 {
    animation: eX69kagcBSE33_c_o 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE33_c_o {
    0% {
        opacity: 0.5
    }

    16.666667% {
        opacity: 0.27
    }

    33.333333% {
        opacity: 0.47
    }

    45.833333% {
        opacity: 0.21
    }

    60% {
        opacity: 0.48
    }

    75% {
        opacity: 0.29
    }

    89.166667% {
        opacity: 0.36
    }

    100% {
        opacity: 0.5
    }
}

#eX69kagcBSE34_tr {
    animation: eX69kagcBSE34_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE34_tr__tr {
    0% {
        transform: translate(438.962869px, 438.951417px) rotate(0deg)
    }

    100% {
        transform: translate(438.962869px, 438.951417px) rotate(-360deg)
    }
}

#eX69kagcBSE35_tr {
    animation: eX69kagcBSE35_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE35_tr__tr {
    0% {
        transform: translate(438.983131px, 438.926318px) rotate(0deg)
    }

    100% {
        transform: translate(438.983131px, 438.926318px) rotate(720deg)
    }
}

#eX69kagcBSE37_tr {
    animation: eX69kagcBSE37_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE37_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    7.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    10% {
        transform: translate(335px, 335px) rotate(450deg)
    }

    27.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    30% {
        transform: translate(335px, 335px) rotate(450deg)
    }

    52.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    55% {
        transform: translate(335px, 335px) rotate(450deg)
    }

    77.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    80% {
        transform: translate(335px, 335px) rotate(450deg)
    }

    94.166667% {
        transform: translate(335px, 335px) rotate(90deg)
    }

    96.666667% {
        transform: translate(335px, 335px) rotate(450deg)
    }

    100% {
        transform: translate(335px, 335px) rotate(450deg)
    }
}

#eX69kagcBSE37 {
    animation: eX69kagcBSE37_c_o 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE37_c_o {
    0% {
        opacity: 0
    }

    7.5% {
        opacity: 0
    }

    9.166667% {
        opacity: 1
    }

    10% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    27.5% {
        opacity: 0
    }

    29.166667% {
        opacity: 1
    }

    30% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    52.5% {
        opacity: 0
    }

    54.166667% {
        opacity: 1
    }

    55% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    77.5% {
        opacity: 0
    }

    79.166667% {
        opacity: 1
    }

    80% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    94.166667% {
        opacity: 0
    }

    95.833333% {
        opacity: 1
    }

    96.666667% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

#eX69kagcBSE40_tr {
    animation: eX69kagcBSE40_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE40_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    6.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    10% {
        transform: translate(335px, 335px) rotate(540deg)
    }

    26.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    30% {
        transform: translate(335px, 335px) rotate(540deg)
    }

    51.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    55% {
        transform: translate(335px, 335px) rotate(540deg)
    }

    76.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    80% {
        transform: translate(335px, 335px) rotate(540deg)
    }

    93.333333% {
        transform: translate(335px, 335px) rotate(180deg)
    }

    96.666667% {
        transform: translate(335px, 335px) rotate(540deg)
    }

    100% {
        transform: translate(335px, 335px) rotate(540deg)
    }
}

#eX69kagcBSE40 {
    animation: eX69kagcBSE40_c_o 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE40_c_o {
    0% {
        opacity: 0
    }

    6.666667% {
        opacity: 0
    }

    9.166667% {
        opacity: 1
    }

    10% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    26.666667% {
        opacity: 0
    }

    29.166667% {
        opacity: 1
    }

    30% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    51.666667% {
        opacity: 0
    }

    54.166667% {
        opacity: 1
    }

    55% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    76.666667% {
        opacity: 0
    }

    79.166667% {
        opacity: 1
    }

    80% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    93.333333% {
        opacity: 0
    }

    95.833333% {
        opacity: 1
    }

    96.666667% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

#eX69kagcBSE43_tr {
    animation: eX69kagcBSE43_tr__tr 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE43_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    5% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    10% {
        transform: translate(335px, 335px) rotate(360deg)
    }

    25% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    30% {
        transform: translate(335px, 335px) rotate(360deg)
    }

    50% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    55% {
        transform: translate(335px, 335px) rotate(360deg)
    }

    75% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    80% {
        transform: translate(335px, 335px) rotate(360deg)
    }

    91.666667% {
        transform: translate(335px, 335px) rotate(0deg)
    }

    96.666667% {
        transform: translate(335px, 335px) rotate(360deg)
    }

    100% {
        transform: translate(335px, 335px) rotate(360deg)
    }
}

#eX69kagcBSE43 {
    animation: eX69kagcBSE43_c_o 80000ms linear infinite normal forwards
}

@keyframes eX69kagcBSE43_c_o {
    0% {
        opacity: 0
    }

    5% {
        opacity: 0
    }

    8.333333% {
        opacity: 1
    }

    10% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    25% {
        opacity: 0
    }

    28.333333% {
        opacity: 1
    }

    30% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    50% {
        opacity: 0
    }

    53.333333% {
        opacity: 1
    }

    55% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    75% {
        opacity: 0
    }

    78.333333% {
        opacity: 1
    }

    80% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }

    91.666667% {
        opacity: 0
    }

    95% {
        opacity: 1
    }

    96.666667% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}