#ers0fLdKNQ823 {
    animation: ers0fLdKNQ823__m 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ823__m {
    0% {
        d: path('M475.007071,923.962987C552.94968,923.962987,584.514241,878.124444,654.734335,861.691808C724.954429,845.259171,783.16007,842.827869,838.779127,784.428273C894.398185,726.028678,879.950487,660.885555,903.293938,558.130476C926.637389,455.375398,907.751851,226.949991,816.26592,148.857387C724.779989,70.764783,583.316128,24.812852,441.233287,24.558662C355.347332,24.558256,222.510327,35.569064,119.167366,172.833006C62.579541,247.995047,60.091791,338.015417,63.33236,450.041025C66.009848,542.601088,19.875841,629.17887,63.336817,696.046193C106.797794,762.913516,203.700299,795.651559,248.084528,826.495149C336.821805,888.160661,354.639062,923.962987,475.007071,923.962987Z')
    }
    2.5% {
        d: path('M484.562771,878.747851C562.50538,878.747851,583.114982,911.664655,653.335076,895.232019C723.55517,878.799382,761.010066,811.428788,816.629123,753.029192C872.248181,694.629597,904.845293,685.59403,928.188744,582.838951C951.532195,480.083873,857.080583,282.28496,768.074127,184.675189C679.067672,87.065417,598.116919,5.207473,455.610428,5.207473C369.724473,5.207067,264.981113,71.803615,161.638152,209.067557C105.050327,284.229598,23.908663,327.437168,0.379043,433.060441C-19.755568,523.44369,14.615257,616.751824,72.826719,671.22414C131.038181,725.696456,170.343088,823.43828,214.727317,854.28187C303.464594,915.947382,364.194762,878.747851,484.562771,878.747851Z')
    }
    5.833333% {
        d: path('M460.138585,947.197268C538.081194,947.197268,584.405394,894.076819,645.947847,862.719372C707.4903,831.361925,781.749198,849.00314,837.153749,762.346961C892.5583,675.690782,863.69171,642.733024,882.482088,557.54951C901.272466,472.365996,907.551997,265.364539,818.545541,167.754768C729.539086,70.144996,608.144341,49.762976,465.63785,49.762976C380.387462,49.969078,258.751664,56.925877,109.245745,179.190563C36.415991,238.750124,66.390767,329.498426,56.614386,442.227958C48.679168,533.727404,6.832168,573.891268,64.123223,685.131123C121.414278,796.370978,208.677321,806.973566,253.06155,837.817156C341.798827,899.482668,339.770576,947.197268,460.138585,947.197268Z')
    }
    10% {
        d: path('M469.294191,901.866223C547.2368,901.866223,588.610336,936.094677,666.799056,899.819788C744.987776,863.544899,750.734892,792.324327,806.353949,733.924731C861.973007,675.525136,917.638985,612.402666,920.902512,511.055931C924.166039,409.709196,865.639222,250.650771,800.110074,180.193651C734.580926,109.736531,627.534118,60.032491,467.800283,37.584354C381.914328,37.583948,297.410342,13.921738,172.969071,105.757969C97.268881,161.623841,20.17157,325.138852,10.968455,437.916632C3.437061,530.208627,18.413829,599.917142,76.625291,654.389458C134.836753,708.861774,162.123217,810.91742,206.507446,841.76101C295.244723,903.426522,348.926182,901.866223,469.294191,901.866223Z')
    }
    14.166667% {
        d: path('M462.693786,925.295778C540.636395,925.295778,585.854422,852.808449,656.074516,836.375813C726.29461,819.943176,788.238319,791.222418,843.857376,732.822822C899.476434,674.423227,864.388806,617.610241,887.732257,514.855162C911.075708,412.100084,885.609689,265.142943,796.603233,167.533172C707.596778,69.9234,615.973403,75.421662,473.466912,75.421662C387.580957,75.421256,274.81772,45.105868,137.287497,148.094196C47.235546,215.528827,77.767431,333.012713,68.564316,445.790493C61.032922,538.082488,45.897536,598.646135,67.874409,683.039926C89.851282,767.433717,215.414481,793.759968,259.79871,824.603558C348.535987,886.26907,342.325777,925.295778,462.693786,925.295778Z')
    }
    19.166667% {
        d: path('M473.049744,886.199006C550.992353,886.199006,579.172232,923.429238,649.392326,906.996602C719.61242,890.563965,745.21366,790.122839,800.832717,731.723243C856.451775,673.323648,901.513224,584.712932,924.856675,481.957853C948.200126,379.202775,846.417158,289.467918,757.410702,191.858147C668.404247,94.248375,581.322478,5.48416,438.815987,5.48416C352.930032,5.483754,257.820111,59.939294,154.47715,197.203236C97.889325,272.365277,-5.357004,327.538576,-14.560119,440.316356C-22.091513,532.608351,31.340238,552.591295,67.979298,624.499496C104.618358,696.407697,81.465921,743.106705,150.568162,789.14723C240.49602,849.063171,352.681735,886.199006,473.049744,886.199006Z')
    }
    25% {
        d: path('M484.562771,878.747851C562.50538,878.747851,583.114982,911.664655,653.335076,895.232019C723.55517,878.799382,761.010066,811.428788,816.629123,753.029192C872.248181,694.629597,904.845293,685.59403,928.188744,582.838951C951.532195,480.083873,857.080583,282.28496,768.074127,184.675189C679.067672,87.065417,598.116919,5.207473,455.610428,5.207473C369.724473,5.207067,264.981113,71.803615,161.638152,209.067557C105.050327,284.229598,23.908663,327.437168,0.379043,433.060441C-19.755568,523.44369,14.615257,616.751824,72.826719,671.22414C131.038181,725.696456,170.343088,823.43828,214.727317,854.28187C303.464594,915.947382,364.194762,878.747851,484.562771,878.747851Z')
    }
    28.333333% {
        d: path('M460.138585,947.197268C538.081194,947.197268,584.405394,894.076819,645.947847,862.719372C707.4903,831.361925,781.749198,849.00314,837.153749,762.346961C892.5583,675.690782,863.69171,642.733024,882.482088,557.54951C901.272466,472.365996,907.551997,265.364539,818.545541,167.754768C729.539086,70.144996,608.144341,49.762976,465.63785,49.762976C380.387462,49.969078,258.751664,56.925877,109.245745,179.190563C36.415991,238.750124,66.390767,329.498426,56.614386,442.227958C48.679168,533.727404,6.832168,573.891268,64.123223,685.131123C121.414278,796.370978,208.677321,806.973566,253.06155,837.817156C341.798827,899.482668,339.770576,947.197268,460.138585,947.197268Z')
    }
    32.5% {
        d: path('M469.294191,901.866223C547.2368,901.866223,588.610336,936.094677,666.799056,899.819788C744.987776,863.544899,750.734892,792.324327,806.353949,733.924731C861.973007,675.525136,917.638985,612.402666,920.902512,511.055931C924.166039,409.709196,865.639222,250.650771,800.110074,180.193651C734.580926,109.736531,627.534118,60.032491,467.800283,37.584354C381.914328,37.583948,297.410342,13.921738,172.969071,105.757969C97.268881,161.623841,20.17157,325.138852,10.968455,437.916632C3.437061,530.208627,18.413829,599.917142,76.625291,654.389458C134.836753,708.861774,162.123217,810.91742,206.507446,841.76101C295.244723,903.426522,348.926182,901.866223,469.294191,901.866223Z')
    }
    36.666667% {
        d: path('M462.693786,925.295778C540.636395,925.295778,585.854422,852.808449,656.074516,836.375813C726.29461,819.943176,788.238319,791.222418,843.857376,732.822822C899.476434,674.423227,864.388806,617.610241,887.732257,514.855162C911.075708,412.100084,885.609689,265.142943,796.603233,167.533172C707.596778,69.9234,615.973403,75.421662,473.466912,75.421662C387.580957,75.421256,274.81772,45.105868,137.287497,148.094196C47.235546,215.528827,77.767431,333.012713,68.564316,445.790493C61.032922,538.082488,45.897536,598.646135,67.874409,683.039926C89.851282,767.433717,215.414481,793.759968,259.79871,824.603558C348.535987,886.26907,342.325777,925.295778,462.693786,925.295778Z')
    }
    41.666667% {
        d: path('M473.049744,886.199006C550.992353,886.199006,579.172232,923.429238,649.392326,906.996602C719.61242,890.563965,745.21366,790.122839,800.832717,731.723243C856.451775,673.323648,901.513224,584.712932,924.856675,481.957853C948.200126,379.202775,846.417158,289.467918,757.410702,191.858147C668.404247,94.248375,581.322478,5.48416,438.815987,5.48416C352.930032,5.483754,257.820111,59.939294,154.47715,197.203236C97.889325,272.365277,-5.357004,327.538576,-14.560119,440.316356C-22.091513,532.608351,31.340238,552.591295,67.979298,624.499496C104.618358,696.407697,81.465921,743.106705,150.568162,789.14723C240.49602,849.063171,352.681735,886.199006,473.049744,886.199006Z')
    }
    46.666667% {
        d: path('M484.562771,878.747851C562.50538,878.747851,583.114982,911.664655,653.335076,895.232019C723.55517,878.799382,761.010066,811.428788,816.629123,753.029192C872.248181,694.629597,904.845293,685.59403,928.188744,582.838951C951.532195,480.083873,857.080583,282.28496,768.074127,184.675189C679.067672,87.065417,598.116919,5.207473,455.610428,5.207473C369.724473,5.207067,264.981113,71.803615,161.638152,209.067557C105.050327,284.229598,23.908663,327.437168,0.379043,433.060441C-19.755568,523.44369,14.615257,616.751824,72.826719,671.22414C131.038181,725.696456,170.343088,823.43828,214.727317,854.28187C303.464594,915.947382,364.194762,878.747851,484.562771,878.747851Z')
    }
    50% {
        d: path('M460.138585,947.197268C538.081194,947.197268,584.405394,894.076819,645.947847,862.719372C707.4903,831.361925,781.749198,849.00314,837.153749,762.346961C892.5583,675.690782,863.69171,642.733024,882.482088,557.54951C901.272466,472.365996,907.551997,265.364539,818.545541,167.754768C729.539086,70.144996,608.144341,49.762976,465.63785,49.762976C380.387462,49.969078,258.751664,56.925877,109.245745,179.190563C36.415991,238.750124,66.390767,329.498426,56.614386,442.227958C48.679168,533.727404,6.832168,573.891268,64.123223,685.131123C121.414278,796.370978,208.677321,806.973566,253.06155,837.817156C341.798827,899.482668,339.770576,947.197268,460.138585,947.197268Z')
    }
    54.166667% {
        d: path('M469.294191,901.866223C547.2368,901.866223,588.610336,936.094677,666.799056,899.819788C744.987776,863.544899,750.734892,792.324327,806.353949,733.924731C861.973007,675.525136,917.638985,612.402666,920.902512,511.055931C924.166039,409.709196,865.639222,250.650771,800.110074,180.193651C734.580926,109.736531,627.534118,60.032491,467.800283,37.584354C381.914328,37.583948,297.410342,13.921738,172.969071,105.757969C97.268881,161.623841,20.17157,325.138852,10.968455,437.916632C3.437061,530.208627,18.413829,599.917142,76.625291,654.389458C134.836753,708.861774,162.123217,810.91742,206.507446,841.76101C295.244723,903.426522,348.926182,901.866223,469.294191,901.866223Z')
    }
    58.333333% {
        d: path('M462.693786,925.295778C540.636395,925.295778,585.854422,852.808449,656.074516,836.375813C726.29461,819.943176,788.238319,791.222418,843.857376,732.822822C899.476434,674.423227,864.388806,617.610241,887.732257,514.855162C911.075708,412.100084,885.609689,265.142943,796.603233,167.533172C707.596778,69.9234,615.973403,75.421662,473.466912,75.421662C387.580957,75.421256,274.81772,45.105868,137.287497,148.094196C47.235546,215.528827,77.767431,333.012713,68.564316,445.790493C61.032922,538.082488,45.897536,598.646135,67.874409,683.039926C89.851282,767.433717,215.414481,793.759968,259.79871,824.603558C348.535987,886.26907,342.325777,925.295778,462.693786,925.295778Z')
    }
    63.333333% {
        d: path('M473.049744,886.199006C550.992353,886.199006,579.172232,923.429238,649.392326,906.996602C719.61242,890.563965,745.21366,790.122839,800.832717,731.723243C856.451775,673.323648,901.513224,584.712932,924.856675,481.957853C948.200126,379.202775,846.417158,289.467918,757.410702,191.858147C668.404247,94.248375,581.322478,5.48416,438.815987,5.48416C352.930032,5.483754,257.820111,59.939294,154.47715,197.203236C97.889325,272.365277,-5.357004,327.538576,-14.560119,440.316356C-22.091513,532.608351,31.340238,552.591295,67.979298,624.499496C104.618358,696.407697,81.465921,743.106705,150.568162,789.14723C240.49602,849.063171,352.681735,886.199006,473.049744,886.199006Z')
    }
    68.333333% {
        d: path('M484.562771,878.747851C562.50538,878.747851,583.114982,911.664655,653.335076,895.232019C723.55517,878.799382,761.010066,811.428788,816.629123,753.029192C872.248181,694.629597,904.845293,685.59403,928.188744,582.838951C951.532195,480.083873,857.080583,282.28496,768.074127,184.675189C679.067672,87.065417,598.116919,5.207473,455.610428,5.207473C369.724473,5.207067,264.981113,71.803615,161.638152,209.067557C105.050327,284.229598,23.908663,327.437168,0.379043,433.060441C-19.755568,523.44369,14.615257,616.751824,72.826719,671.22414C131.038181,725.696456,170.343088,823.43828,214.727317,854.28187C303.464594,915.947382,364.194762,878.747851,484.562771,878.747851Z')
    }
    71.666667% {
        d: path('M460.138585,947.197268C538.081194,947.197268,584.405394,894.076819,645.947847,862.719372C707.4903,831.361925,781.749198,849.00314,837.153749,762.346961C892.5583,675.690782,863.69171,642.733024,882.482088,557.54951C901.272466,472.365996,907.551997,265.364539,818.545541,167.754768C729.539086,70.144996,608.144341,49.762976,465.63785,49.762976C380.387462,49.969078,258.751664,56.925877,109.245745,179.190563C36.415991,238.750124,66.390767,329.498426,56.614386,442.227958C48.679168,533.727404,6.832168,573.891268,64.123223,685.131123C121.414278,796.370978,208.677321,806.973566,253.06155,837.817156C341.798827,899.482668,339.770576,947.197268,460.138585,947.197268Z')
    }
    75.833333% {
        d: path('M469.294191,901.866223C547.2368,901.866223,588.610336,936.094677,666.799056,899.819788C744.987776,863.544899,750.734892,792.324327,806.353949,733.924731C861.973007,675.525136,917.638985,612.402666,920.902512,511.055931C924.166039,409.709196,865.639222,250.650771,800.110074,180.193651C734.580926,109.736531,627.534118,60.032491,467.800283,37.584354C381.914328,37.583948,297.410342,13.921738,172.969071,105.757969C97.268881,161.623841,20.17157,325.138852,10.968455,437.916632C3.437061,530.208627,18.413829,599.917142,76.625291,654.389458C134.836753,708.861774,162.123217,810.91742,206.507446,841.76101C295.244723,903.426522,348.926182,901.866223,469.294191,901.866223Z')
    }
    80% {
        d: path('M462.693786,925.295778C540.636395,925.295778,585.854422,852.808449,656.074516,836.375813C726.29461,819.943176,788.238319,791.222418,843.857376,732.822822C899.476434,674.423227,864.388806,617.610241,887.732257,514.855162C911.075708,412.100084,885.609689,265.142943,796.603233,167.533172C707.596778,69.9234,615.973403,75.421662,473.466912,75.421662C387.580957,75.421256,274.81772,45.105868,137.287497,148.094196C47.235546,215.528827,77.767431,333.012713,68.564316,445.790493C61.032922,538.082488,45.897536,598.646135,67.874409,683.039926C89.851282,767.433717,215.414481,793.759968,259.79871,824.603558C348.535987,886.26907,342.325777,925.295778,462.693786,925.295778Z')
    }
    85% {
        d: path('M473.049744,886.199006C550.992353,886.199006,579.172232,923.429238,649.392326,906.996602C719.61242,890.563965,745.21366,790.122839,800.832717,731.723243C856.451775,673.323648,901.513224,584.712932,924.856675,481.957853C948.200126,379.202775,846.417158,289.467918,757.410702,191.858147C668.404247,94.248375,581.322478,5.48416,438.815987,5.48416C352.930032,5.483754,257.820111,59.939294,154.47715,197.203236C97.889325,272.365277,-5.357004,327.538576,-14.560119,440.316356C-22.091513,532.608351,31.340238,552.591295,67.979298,624.499496C104.618358,696.407697,81.465921,743.106705,150.568162,789.14723C240.49602,849.063171,352.681735,886.199006,473.049744,886.199006Z')
    }
    88.333333% {
        d: path('M484.562771,878.747851C562.50538,878.747851,583.114982,911.664655,653.335076,895.232019C723.55517,878.799382,761.010066,811.428788,816.629123,753.029192C872.248181,694.629597,904.845293,685.59403,928.188744,582.838951C951.532195,480.083873,857.080583,282.28496,768.074127,184.675189C679.067672,87.065417,598.116919,5.207473,455.610428,5.207473C369.724473,5.207067,264.981113,71.803615,161.638152,209.067557C105.050327,284.229598,23.908663,327.437168,0.379043,433.060441C-19.755568,523.44369,14.615257,616.751824,72.826719,671.22414C131.038181,725.696456,170.343088,823.43828,214.727317,854.28187C303.464594,915.947382,364.194762,878.747851,484.562771,878.747851Z')
    }
    91.666667% {
        d: path('M460.138585,947.197268C538.081194,947.197268,584.405394,894.076819,645.947847,862.719372C707.4903,831.361925,781.749198,849.00314,837.153749,762.346961C892.5583,675.690782,863.69171,642.733024,882.482088,557.54951C901.272466,472.365996,907.551997,265.364539,818.545541,167.754768C729.539086,70.144996,608.144341,49.762976,465.63785,49.762976C380.387462,49.969078,258.751664,56.925877,109.245745,179.190563C36.415991,238.750124,66.390767,329.498426,56.614386,442.227958C48.679168,533.727404,6.832168,573.891268,64.123223,685.131123C121.414278,796.370978,208.677321,806.973566,253.06155,837.817156C341.798827,899.482668,339.770576,947.197268,460.138585,947.197268Z')
    }
    95.833333% {
        d: path('M469.294191,901.866223C547.2368,901.866223,588.610336,936.094677,666.799056,899.819788C744.987776,863.544899,750.734892,792.324327,806.353949,733.924731C861.973007,675.525136,917.638985,612.402666,920.902512,511.055931C924.166039,409.709196,865.639222,250.650771,800.110074,180.193651C734.580926,109.736531,627.534118,60.032491,467.800283,37.584354C381.914328,37.583948,297.410342,13.921738,172.969071,105.757969C97.268881,161.623841,20.17157,325.138852,10.968455,437.916632C3.437061,530.208627,18.413829,599.917142,76.625291,654.389458C134.836753,708.861774,162.123217,810.91742,206.507446,841.76101C295.244723,903.426522,348.926182,901.866223,469.294191,901.866223Z')
    }
    100% {
        d: path('M462.693786,925.295778C540.636395,925.295778,585.854422,852.808449,656.074516,836.375813C726.29461,819.943176,788.238319,791.222418,843.857376,732.822822C899.476434,674.423227,864.388806,617.610241,887.732257,514.855162C911.075708,412.100084,885.609689,265.142943,796.603233,167.533172C707.596778,69.9234,615.973403,75.421662,473.466912,75.421662C387.580957,75.421256,274.81772,45.105868,137.287497,148.094196C47.235546,215.528827,77.767431,333.012713,68.564316,445.790493C61.032922,538.082488,45.897536,598.646135,67.874409,683.039926C89.851282,767.433717,215.414481,793.759968,259.79871,824.603558C348.535987,886.26907,342.325777,925.295778,462.693786,925.295778Z')
    }
}

#ers0fLdKNQ823_tr {
    animation: ers0fLdKNQ823_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ823_tr__tr {
    0% {
        transform: translate(467.820263px, 471.981491px) rotate(0deg)
    }
    100% {
        transform: translate(467.820263px, 471.981491px) rotate(-1080deg)
    }
}

#ers0fLdKNQ824 {
    animation: ers0fLdKNQ824__m 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ824__m {
    0% {
        d: path('M507.437605,908.858252C609.174163,892.485962,659.35278,917.827572,759.393472,865.480971C859.434164,813.13437,878.881601,676.063612,892.712371,605.916304C906.543142,535.768996,937.913236,531.323045,933.221221,399.100566C928.529206,266.878087,818.030392,208.825137,716.01886,126.362924C627.047091,54.441556,589.883209,29,459.695239,29C329.507268,29,249.081284,84.755092,162.739108,177.154414C76.396932,269.553736,12.667474,358.174583,12.667474,489.495001C12.667474,620.815419,20.469747,673.384661,102.663035,757.561054C156.365292,812.559003,168.050529,840.472353,223.920608,883.379379C299.623614,941.517669,390.359807,932.968262,507.437605,908.858252Z')
    }
    4.166667% {
        d: path('M507.437605,908.858252C609.174163,892.485962,702.367078,881.287199,788.039928,803.775796C873.712778,726.264393,815.325275,676.015721,829.156045,605.868413C842.986816,535.721105,925.044244,538.655637,920.352229,406.433158C915.660214,274.210679,810.297929,228.059283,708.286397,145.59707C619.314628,73.675702,586.217299,7.660441,434.801023,22.823513C283.384747,37.986585,267.950155,130.168431,174.556381,218.235266C81.162607,306.302101,12.583359,328.123514,12.583359,459.443932C12.583359,590.76435,43.306673,602.312428,125.499961,686.488821C179.202218,741.48677,166.423298,818.664884,231.533951,864.216179C309.745701,918.932978,390.359807,932.968262,507.437605,908.858252Z')
    }
    9.166667% {
        d: path('M510.064099,917.968871C611.800657,901.596581,662.142888,860.097751,748.565364,783.899294C834.987841,707.700838,914.524441,664.687439,928.355211,594.540131C942.185982,524.392823,885.874003,545.825458,881.181988,413.602979C876.489973,281.3805,824.638344,175.324124,722.626812,92.861911C633.655043,20.940543,577.795038,73.607587,427.486326,87.979542C277.177613,102.351498,207.635376,94.67994,114.609512,182.972818C21.583647,271.265696,63.560781,313.37618,63.560781,444.696598C63.560781,576.017016,16.9928,646.316856,99.186088,730.493249C152.888345,785.491198,192.346474,758.666802,256.97501,804.080135C335.055869,858.975447,392.986301,942.078881,510.064099,917.968871Z')
    }
    14.166667% {
        d: path('M506.477658,857.798877C608.214216,841.426587,643.073851,897.039297,730.245954,822.153787C817.418057,747.268277,831.560544,654.809357,845.391314,584.662049C859.222085,514.514741,939.04426,507.799961,905.256871,366.074989C871.469482,224.350017,802.341587,223.043405,700.330055,140.581192C611.358286,68.659824,526.64389,11.095361,377.442742,24.6762C228.241592,38.257039,255.53231,102.988554,162.874356,191.507475C70.2164,280.026396,23.466038,320.648017,23.466038,451.968435C23.466038,583.288853,43.207287,623.216442,125.400575,707.392835C179.102832,762.390784,181.946186,810.987818,246.092605,856.263189C324.042573,911.337014,389.39986,881.908887,506.477658,857.798877Z')
    }
    19.166667% {
        d: path('M574.110006,856.498551C676.22021,840.247666,735.209226,836.001375,806.163244,756.915666C877.117262,677.829956,835.828441,654.970069,849.659211,584.822761C863.489982,514.675453,931.183083,522.407673,899.09057,381.236244C866.998057,240.064815,806.213657,226.534295,704.202125,144.072082C615.230356,72.150714,561.821555,20.165765,413.727971,32.955487C265.634384,45.745209,239.542855,95.122058,147.25281,183.867021C54.962764,272.611985,24.034164,332.333017,24.034164,463.653435C24.034164,594.973853,58.650237,651.425121,140.843525,735.601514C194.545782,790.599463,181.13673,812.705364,244.801032,857.842773C353.584314,1001.838441,457.626087,882.310616,574.110006,856.498551Z')
    }
    25% {
        d: path('M569.298596,860.277086C671.381835,844.01744,668.290699,893.677459,750.700703,827.783211C833.110707,761.888963,814.334326,670.195184,850.514627,616.277512C886.694928,562.35984,923.321947,442.073319,893.20679,301.547691C863.091632,161.022062,810.779025,208.672958,708.767493,126.210745C619.795724,54.289377,570.636134,69.323134,423.834708,81.189886C277.033278,93.056639,197.943951,80.702927,106.083134,169.711607C14.222316,258.720288,43.64648,335.226175,43.64648,466.546593C43.64648,597.867011,35.991411,695.66443,118.184699,779.840823C171.886956,834.838772,228.583188,812.944336,281.389001,871.361755C354.643787,923.992486,452.771819,885.966322,569.298596,860.277086Z')
    }
    30.833333% {
        d: path('M547.692916,851.528795C649.749191,835.260388,667.595528,895.555801,751.376807,830.715259C835.158087,765.874717,819.35467,670.651617,853.796674,615.47164C888.238678,560.291663,943.796833,477.268009,915.659032,337.388182C887.521229,197.508353,811.34302,208.684794,709.331488,126.222581C620.359719,54.301213,540.656939,0.525592,395.14767,11.469375C249.638398,22.413158,249.405633,107.499239,157.974044,196.771636C66.542453,286.044034,5.499169,337.932878,5.499169,469.253296C5.499169,600.573714,56.944118,647.94256,138.854997,732.393787C191.848118,787.030413,191.971697,865.223128,299.787685,908.641783C398.78529,935.108082,431.123281,877.095202,547.692916,851.528795Z')
    }
    38.333333% {
        d: path('M555.886886,928.20646C657.908493,911.926789,633.62332,828.630297,719.167668,765.14452C804.712017,701.658743,874.478686,670.969142,906.685737,614.166201C938.892788,557.363261,896.361434,493.652192,870.765947,354.60268C845.170458,215.553166,834.597839,180.979593,732.586307,98.51738C643.614538,26.596012,561.489315,58.323948,417.641392,68.081056C273.793466,77.838164,256.326606,60.161458,165.446881,149.772919C74.567154,239.384381,65.258404,334.746249,65.258404,466.066667C65.258404,597.387085,12.717375,647.711076,94.658876,732.132502C147.728892,786.808307,206.48211,814.61199,308.665409,857.975167C405.137094,887.875778,439.262149,953.614945,555.886886,928.20646Z')
    }
    44.166667% {
        d: path('M512.932942,872.757441C615.225738,856.908965,618.978704,908.662726,722.538546,838.290475C826.098388,767.918224,803.680209,669.509402,834.148963,611.444156C864.617717,553.378911,931.065223,452.112318,906.561111,343.829295C882.056999,235.546272,824.819215,247.578246,722.807683,165.116033C633.835914,93.194665,621.593447,17.90992,479.037682,26.744058C336.481914,35.578197,248.624849,80.097616,158.174351,169.972793C67.723852,259.847972,34.052924,280.326728,34.052924,411.647146C34.052924,542.967564,65.707209,642.956791,147.672528,727.355039C200.802351,782.061317,215.50657,853.677863,313.308889,896.99789C407.815969,929.569633,396.265348,898.043097,512.932942,872.757441Z')
    }
    51.666667% {
        d: path('M503.718975,923.173185C605.937053,907.254346,604.109548,879.359325,707.196669,811.40843C810.283789,743.457535,867.192979,728.066543,895.426779,668.378334C923.660581,608.690125,899.588328,506.650372,877.745543,395.151601C855.902757,283.65283,853.871891,188.993941,751.860359,106.531728C662.88859,34.61036,616.583659,57.994706,475.689239,65.642169C334.794817,73.289633,227.454594,64.37223,137.55596,154.586471C47.657326,244.800714,3.624634,309.936527,3.624634,441.256945C3.624634,572.577363,59.262146,625.749524,141.258088,710.11797C194.464805,764.863428,174.287694,848.314287,266.457324,891.578836C358.438484,927.584891,386.996279,948.300918,503.718975,923.173185Z')
    }
    60% {
        d: path('M519.031719,887.841564C621.166776,871.844544,623.910477,902.955443,726.472352,837.694944C829.034226,772.434444,869.208259,719.10052,894.958778,657.609018C920.709298,596.117517,894.205174,520.104704,887.310315,395.832457C880.415456,271.56021,827.609863,238.066388,725.598331,155.604175C636.626562,83.682807,620.864531,25.005248,481.816051,31.334183C342.767569,37.663118,231.183334,67.886517,141.897882,158.477496C52.61243,249.068476,65.205886,320.706156,65.205886,452.026574C65.205886,583.346992,46.685677,645.001051,107.3565,745.799937C147.865985,813.10265,195.371279,788.018284,281.282365,831.221192C370.456947,871.043149,402.247799,912.793828,519.031719,887.841564Z')
    }
    65.833333% {
        d: path('M517.340911,890.906498C619.417853,874.854751,629.079146,905.124295,731.273349,841.747073C833.46755,778.36985,870.618955,712.824304,894.631177,650.070497C918.6434,587.316691,907.594649,520.881284,901.021038,395.449628C894.447428,270.017972,878.796149,197.240567,776.784617,114.778354C687.812848,42.856986,609.037937,56.644018,471.271723,61.8048C333.505509,66.965582,232.905546,48.334738,144.937227,161.201213C56.968908,274.067688,57.544034,326.170302,57.544034,457.49072C57.544034,588.811138,65.047645,610.6482,128.85716,709.022973C171.290591,774.531241,181.30167,855.396865,262.831776,898.556623C351.841014,929.380313,400.514134,915.735933,517.340911,890.906498Z')
    }
    72.5% {
        d: path('M515.408559,894.409279C617.419084,878.294987,634.986197,907.602983,736.760202,846.378077C838.534206,785.153171,828.896931,690.425236,850.922528,626.228795C872.948126,562.032354,942.856328,522.495035,936.649858,395.73834C930.443388,268.981646,822.076853,216.353061,720.065321,133.890848C631.093552,61.96948,580.181048,37.91658,443.893516,42.07038C307.605983,46.224181,256.512711,23.577466,168.861688,132.45035C81.210665,241.323234,48.787632,332.41504,48.787632,463.735458C48.787632,595.055876,17.119114,621.718197,84.515706,717.322554C129.147933,780.780028,201.536383,799.683569,278.059654,842.794014C364.472554,878.947382,398.532802,919.098339,515.408559,894.409279Z')
    }
    78.333333% {
        d: path('M501.158911,940.208136C603.111321,924.039117,578.874102,886.277715,680.280435,826.936086C781.686766,767.594457,901.0518,691.20698,921.3391,625.748234C941.626402,560.289488,880.28278,528.523055,874.397558,400.606951C868.512336,272.690849,821.218513,214.756229,719.206981,132.294016C630.235212,60.372648,580.717564,15.183735,450.172756,24.966162C319.627948,34.748589,275.772231,72.611664,188.398842,177.990156C101.025453,283.368648,0.629717,323.824359,0.629717,455.144777C0.629717,586.465195,61.685517,607.53614,132.220802,700.716383C178.776975,762.379413,186.574296,826.820582,258.716587,869.887878C342.857691,910.704714,384.240296,964.774367,501.158911,940.208136Z')
    }
    83.333333% {
        d: path('M518.516033,915.13025C620.418631,898.914323,577.895766,868.022571,678.986951,810.295179C780.078134,752.567788,870.086161,737.436865,888.883493,670.896143C907.680826,604.355421,893.582116,529.169207,887.972249,400.259324C882.362383,271.349442,820.482793,213.387515,718.471261,130.925302C629.499492,59.003934,580.088627,65.145108,449.626166,72.670052C319.163705,80.194996,236.800567,42.393516,149.66515,144.776814C62.529733,247.160113,68.871277,341.623448,68.871277,472.943866C68.871277,604.264284,9.001655,650.202912,82.227249,741.305343C130.432518,801.430277,214.756561,791.360581,283.143726,834.390891C365.337576,879.204986,401.560684,939.5912,518.516033,915.13025Z')
    }
    89.166667% {
        d: path('M503.073862,887.573283C604.918346,871.302629,604.284279,933.533099,705.007791,877.688984C805.731303,821.84487,839.758485,683.034737,856.81752,615.23171C873.876557,547.428683,900.182538,463.468595,894.893919,333.399304C889.605301,203.330013,819.624453,211.790683,717.612921,129.32847C628.641152,57.407102,596.761606,46.475995,466.395217,51.367209C336.028827,56.258422,241.098818,57.220068,154.241035,156.108974C67.383253,254.997881,11.331681,344.123625,11.331681,475.444043C11.331681,606.764461,41.603747,646.515743,117.968034,735.194061C168.097249,793.52455,181.864685,836.350954,245.87087,879.338115C325.792924,928.815678,386.075656,911.911404,503.073862,887.573283Z')
    }
    95.833333% {
        d: path('M505.047308,961.55858C606.825376,945.225381,611.299372,871.959939,711.602687,818.268141C811.906002,764.576342,894.887149,683.064105,909.959559,613.818443C925.031971,544.572782,884.154555,510.915202,879.233077,379.520872C874.311599,248.126542,809.440802,173.568017,707.42927,91.105804C618.457501,19.184436,609.764249,7.602377,479.507657,9.483613C349.251063,11.364848,274.570793,45.008013,188.030306,139.903329C101.48982,234.798645,12.153707,352.770368,12.153707,484.090786C12.153707,615.411204,28.598209,663.050462,108.549573,748.958364C160.877583,805.23806,202.252233,795.62118,261.251583,838.559027C338.5773,893.366268,388.000123,985.756325,505.047308,961.55858Z')
    }
    100% {
        d: path('M507.437605,908.858252C609.174163,892.485962,659.35278,917.827572,759.393472,865.480971C859.434164,813.13437,878.881601,676.063612,892.712371,605.916304C906.543142,535.768996,937.913236,531.323045,933.221221,399.100566C928.529206,266.878087,818.030392,208.825137,716.01886,126.362924C627.047091,54.441556,589.883209,29,459.695239,29C329.507268,29,249.081284,84.755092,162.739108,177.154414C76.396932,269.553736,12.667474,358.174583,12.667474,489.495001C12.667474,620.815419,20.469747,673.384661,102.663035,757.561054C156.365292,812.559003,168.050529,840.472353,223.920608,883.379379C299.623614,941.517669,390.359807,932.968262,507.437605,908.858252Z')
    }
}

#ers0fLdKNQ824_tr {
    animation: ers0fLdKNQ824_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ824_tr__tr {
    0% {
        transform: translate(470.994793px, 472.065125px) rotate(0deg)
    }
    100% {
        transform: translate(470.994793px, 472.065125px) rotate(1080deg)
    }
}

#ers0fLdKNQ831_tr {
    animation: ers0fLdKNQ831_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ831_tr__tr {
    0% {
        transform: translate(438.998291px, 438.999329px) rotate(0deg)
    }
    100% {
        transform: translate(438.998291px, 438.999329px) rotate(360deg)
    }
}

#ers0fLdKNQ832_tr {
    animation: ers0fLdKNQ832_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ832_tr__tr {
    0% {
        transform: translate(438.99181px, 438.98999px) rotate(0deg)
    }
    100% {
        transform: translate(438.99181px, 438.98999px) rotate(-720deg)
    }
}

#ers0fLdKNQ833_tr {
    animation: ers0fLdKNQ833_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ833_tr__tr {
    0% {
        transform: translate(438.998428px, 438.991486px) rotate(0deg)
    }
    100% {
        transform: translate(438.998428px, 438.991486px) rotate(-360deg)
    }
}

#ers0fLdKNQ834_tr {
    animation: ers0fLdKNQ834_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ834_tr__tr {
    0% {
        transform: translate(438.899109px, 438.47937px) rotate(0deg)
    }
    100% {
        transform: translate(438.899109px, 438.47937px) rotate(360deg)
    }
}

#ers0fLdKNQ835_tr {
    animation: ers0fLdKNQ835_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ835_tr__tr {
    0% {
        transform: translate(438.93602px, 438.659927px) rotate(0deg)
    }
    100% {
        transform: translate(438.93602px, 438.659927px) rotate(720deg)
    }
}

#ers0fLdKNQ836_tr {
    animation: ers0fLdKNQ836_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ836_tr__tr {
    0% {
        transform: translate(438.986542px, 438.977631px) rotate(0deg)
    }
    100% {
        transform: translate(438.986542px, 438.977631px) rotate(-720deg)
    }
}

#ers0fLdKNQ837_tr {
    animation: ers0fLdKNQ837_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ837_tr__tr {
    0% {
        transform: translate(438.962875px, 438.951416px) rotate(0deg)
    }
    100% {
        transform: translate(438.962875px, 438.951416px) rotate(-360deg)
    }
}

#ers0fLdKNQ838_tr {
    animation: ers0fLdKNQ838_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ838_tr__tr {
    0% {
        transform: translate(438.983124px, 438.926315px) rotate(0deg)
    }
    100% {
        transform: translate(438.983124px, 438.926315px) rotate(720deg)
    }
}

#ers0fLdKNQ840_tr {
    animation: ers0fLdKNQ840_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ840_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    7.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    10% {
        transform: translate(335px, 335px) rotate(450deg)
    }
    27.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    30% {
        transform: translate(335px, 335px) rotate(450deg)
    }
    52.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    55% {
        transform: translate(335px, 335px) rotate(450deg)
    }
    77.5% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    80% {
        transform: translate(335px, 335px) rotate(450deg)
    }
    94.166667% {
        transform: translate(335px, 335px) rotate(90deg)
    }
    96.666667% {
        transform: translate(335px, 335px) rotate(450deg)
    }
    100% {
        transform: translate(335px, 335px) rotate(450deg)
    }
}

#ers0fLdKNQ843_tr {
    animation: ers0fLdKNQ843_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ843_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    6.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    10% {
        transform: translate(335px, 335px) rotate(540deg)
    }
    26.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    30% {
        transform: translate(335px, 335px) rotate(540deg)
    }
    51.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    55% {
        transform: translate(335px, 335px) rotate(540deg)
    }
    76.666667% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    80% {
        transform: translate(335px, 335px) rotate(540deg)
    }
    93.333333% {
        transform: translate(335px, 335px) rotate(180deg)
    }
    96.666667% {
        transform: translate(335px, 335px) rotate(540deg)
    }
    100% {
        transform: translate(335px, 335px) rotate(540deg)
    }
}

#ers0fLdKNQ846_tr {
    animation: ers0fLdKNQ846_tr__tr 80000ms linear infinite normal forwards
}

@keyframes ers0fLdKNQ846_tr__tr {
    0% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    5% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    10% {
        transform: translate(335px, 335px) rotate(360deg)
    }
    25% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    30% {
        transform: translate(335px, 335px) rotate(360deg)
    }
    50% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    55% {
        transform: translate(335px, 335px) rotate(360deg)
    }
    75% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    80% {
        transform: translate(335px, 335px) rotate(360deg)
    }
    91.666667% {
        transform: translate(335px, 335px) rotate(0deg)
    }
    96.666667% {
        transform: translate(335px, 335px) rotate(360deg)
    }
    100% {
        transform: translate(335px, 335px) rotate(360deg)
    }
}
