#e0ocbBv8dt77_tr {
    animation: e0ocbBv8dt77_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt77_tr__tr {
    0% {
        transform: translate(438.998633px, 438.999329px) rotate(0deg)
    }
    76.333333% {
        transform: translate(438.998633px, 438.999329px) rotate(12.827554deg)
    }
    100% {
        transform: translate(438.998633px, 438.999329px) rotate(3.077368deg)
    }
}

#e0ocbBv8dt78_tr {
    animation: e0ocbBv8dt78_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt78_tr__tr {
    0% {
        transform: translate(438.992184px, 438.98999px) rotate(0deg)
    }
    100% {
        transform: translate(438.992184px, 438.98999px) rotate(-16.024759deg)
    }
}

#e0ocbBv8dt79_tr {
    animation: e0ocbBv8dt79_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt79_tr__tr {
    0% {
        transform: translate(438.998768px, 438.991486px) rotate(0deg)
    }
    100% {
        transform: translate(438.998768px, 438.991486px) rotate(7.699264deg)
    }
}

#e0ocbBv8dt710_tr {
    animation: e0ocbBv8dt710_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt710_tr__tr {
    0% {
        transform: translate(438.740768px, 438.957466px) rotate(87.533771deg)
    }
    100% {
        transform: translate(438.740768px, 438.957466px) rotate(129.826384deg)
    }
}

#e0ocbBv8dt711_tr {
    animation: e0ocbBv8dt711_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt711_tr__tr {
    0% {
        transform: translate(438.868378px, 439.197601px) rotate(0deg)
    }
    100% {
        transform: translate(438.868378px, 439.197601px) rotate(-27.828302deg)
    }
}

#e0ocbBv8dt712_tr {
    animation: e0ocbBv8dt712_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt712_tr__tr {
    0% {
        transform: translate(438.899452px, 438.47937px) rotate(0deg)
    }
    100% {
        transform: translate(438.899452px, 438.47937px) rotate(15.712738deg)
    }
}

#e0ocbBv8dt713_tr {
    animation: e0ocbBv8dt713_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt713_tr__tr {
    0% {
        transform: translate(438.986893px, 438.977631px) rotate(0deg)
    }
    100% {
        transform: translate(438.986893px, 438.977631px) rotate(-9.88614deg)
    }
}

#e0ocbBv8dt714_tr {
    animation: e0ocbBv8dt714_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt714_tr__tr {
    0% {
        transform: translate(438.936356px, 438.645996px) rotate(0deg)
    }
    100% {
        transform: translate(438.936356px, 438.645996px) rotate(53.103538deg)
    }
}

#e0ocbBv8dt714_ts {
    animation: e0ocbBv8dt714_ts__ts 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt714_ts__ts {
    0% {
        transform: scale(1, 1)
    }
    45% {
        transform: scale(-0.711594, -0.711594)
    }
    100% {
        transform: scale(-1.00051, -1.00051)
    }
}

#e0ocbBv8dt715_tr {
    animation: e0ocbBv8dt715_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt715_tr__tr {
    0% {
        transform: translate(438.963226px, 438.951416px) rotate(0deg)
    }
    100% {
        transform: translate(438.963226px, 438.951416px) rotate(-95.318667deg)
    }
}

#e0ocbBv8dt716_tr {
    animation: e0ocbBv8dt716_tr__tr 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt716_tr__tr {
    0% {
        transform: translate(438.983475px, 438.918091px) rotate(0deg)
    }
    100% {
        transform: translate(438.983475px, 438.918091px) rotate(18.47827deg)
    }
}

#e0ocbBv8dt716_ts {
    animation: e0ocbBv8dt716_ts__ts 6000ms linear infinite normal forwards
}

@keyframes e0ocbBv8dt716_ts__ts {
    0% {
        transform: scale(1, 1)
    }
    41.666667% {
        transform: scale(0.672678, 0.672678)
    }
    100% {
        transform: scale(0.857851, 0.857851)
    }
}
