/* ::: Font weights ::: */
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

/* ::: App colors ::: */
$clr-primary: #1d1d1d;
$clr-black: #000;
$txt-primary: $clr-primary;