// Custom Typography
.TypoBody-subTitle{
    font-size: 18px;
    font-weight: 500;
    color: $txt-primary;
    margin-bottom: 0.5rem;
}

.TypoBody-paragraph{
    font-size: 18px;
    font-weight: 300;
    color: $txt-primary;
}