@import '../scss/utils/variables';

.searchEnginePage {
    background-color: #fff;
    height: 100%;
}

.searchDefault h2{
    margin-top: 35px;
    margin-bottom: 24px;
    font-size: 24px;
}

#title-wrapper{
    display:flex;
    align-items:center;
    margin-top: 41px;
    margin-bottom: 27px;
}
.title{
    flex-wrap:wrap;
    margin: 0 10px 0 10px;
    text-align:center;
    font-size: 14px;
    font-weight: 600;
}
.line{
    flex:1;
    height:1px;
    background-color: rgba(0, 0, 0, 0.16);
}


.searchEngine-heading {
  font-family: WorkSans;
  font-size: 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1d1d;
  margin-bottom: 46px;
}

.searchEngine-input {
    background-color: #fff;
    height: 50px;
    padding: 10px;
}
.searchEngin-headerbtn {
    height: 50px;
    text-transform: none;
    border: solid 1px #cbcbcb;
    font-size: 16px;
    color: #000;
}

.searchEngine-xdl h2{
    margin-top: 35px;
    margin-bottom: 35px;
}
.searchEngine-xdl .text {
    background-color: #fff;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
    .translate-block {
        border-radius: 4px;
        border: solid 1px #654fbd;
        background-color: #fff;
        width: 93%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        button {
            margin-left: 18px;
        }
    }
    h4{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .area {
        width: 100%;
        border: solid 1px #fff;
        border-width: 0;
        border: 0;
        background-color: #fff;
        resize: none;
    }
}


#style-2::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #FFF;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: #FFF;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d8d8d8;
}

#style-3::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #eeeeee;
}

#style-3::-webkit-scrollbar
{
    width: 12px;
    background-color: #eeeeee;
}

#style-3::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d8d8d8;
}

.searchEngine-xdl .result {
    position: relative;
    background-color: #fff;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 20px;
    .heading {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .process {
        background-color: #fff;
        height: 372px;
        overflow-y: auto;
        border-radius: 4px;
    }
    .synthesis {
        background-color: #ededed;
        height: 385px;
        padding: 0px 20px;
        overflow-y: auto;
        border-radius: 4px;
    }
}

.literature-list {
    ul {
        list-style: none;
        padding-left: 0px;
        li {
            padding-bottom: 20px;
            a {
                cursor: pointer;
                color: #5645ba;
                text-decoration: underline;
            }
        }
    }
}