// Utils
@import './utils/variables';

.body1-lg-light{
    font-size: 18px !important;
    font-weight: $light !important;
}

.selected-bg{
    background-color: #aba8ff !important;
}

.tempTooltips{
    position: absolute;
    bottom: -250px;
    left: 0;
    font-size: 14px;

    .t-header{
        font-weight: 500;
        border-bottom: 1px solid #e9e9e9;
    }

    .t-row{
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        .mlc-color-dot{
            position: absolute;
            background-color: transparent;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: 5px;
            border: 1px solid;
            display: flex;
            padding: 0;

            span{
                width: 7px;
                height: 7px;
                background-color: blueviolet;
                border-radius: 50%;
                display: block;
                margin: auto;
            }
        }

        > div {
            width: 165px;
            padding: 2px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 28px;
            white-space: nowrap;
            border-right: 1px solid #e9e9e9;
            font-size: 14px;

            &:nth-last-child(1) {
                border-right: 0;
            } 
        }
    }
    .properties {
        display: inline-block;
        position: relative;
        >  div {
            width: 165px;
            padding: 2px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 28px;
            white-space: nowrap;
            border-right: 1px solid #e9e9e9;
            font-size: 14px;
        }
    }
    .drugvalues {
         display: inline-block;
        position: relative;
        >  div {
            width: 165px;
            padding: 2px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 28px;
            white-space: nowrap;
            font-size: 14px;
            border-right: 1px solid #e9e9e9;
        }
    }
    .drugvalues2 {
        display: inline-block;
        position: relative;
        > div {
            width: 165px;
            padding: 2px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 28px;
            white-space: nowrap;
            font-size: 14px;
        }
    }
  }